<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %> <%- include('../partials/header') %>
  <body>
    <div class="container">
      <h1 class="mx-lg-auto text-center">Oops! We couldn't find that page.</h1>
      <img
        src="https://picsum.photos/id/81/200/300"
        class="d-block mx-lg-auto img-fluid"
        alt="Bootstrap Themes"
        loading="lazy"
      />
    </div>
  </body>
  <%- include('../partials/footer') %>
</html>
