<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %> <%- include('../partials/header') %>
  <body>
    <div class="container col-xxl-8 px-4 py-">
      <div class="row justify-content-center">
        <div class="col-12">
          <h1 class="display-5 fw-bold 1h-1">About Lily's Blooms</h1>
          <p>
            Lily's Blooms is a passion project born from a love of nature and a
            desire to bring beauty into people's lives. With years of experience
            in floral design, Lily creates stunning arrangements that are as
            unique as the individuals who receive them. Our commitment to using
            the freshest, highest-quality flowers ensures that every bouquet is
            a work of art.
          </p>
        </div>
      </div>
    </div>
  </body>
  <%- include('../partials/footer') %>
</html>
