<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %> <%- include('../partials/header') %>
  <body>
    <div class="container col-xxl-8 px-4 py-5">
      <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
          <img
            src="https://picsum.photos/id/82/700/500"
            class="d-block mx-lg-auto img-fluid"
            alt="Bootstrap Themes"
            width="700"
            height="500"
            loading="lazy"
          />
        </div>
        <div class="col-lg-6">
          <h1 class="display-5 fw-bold lh-1 mb-3">
            Find joy in nature's beauty
          </h1>
          <p class="lead">
            Welcome to Lily's Blooms, where we believe that flowers are more
            than just blooms - they're a way to express love, joy, and
            gratitude. Discover our curated selection of fresh, seasonal flowers
            for every occasion.
          </p>
          <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">
              Explore Our Collection
            </button>
          </div>
        </div>
      </div>
    </div>
  </body>
  <%- include('../partials/footer') %>
</html>
